* {
    border: none;
    border-radius: 0;
    font-family: DepartureMono Nerd Font, FontAwesome;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(18, 18, 18, 0.7);
    border-radius: 16px;
    padding: 5px;
    border-bottom: 1px solid #282828;
    color: #fcfcfc;
}

window#waybar,
tooltip {
    color: #fcfcfc;
}

tooltip {
    background: rgba(18, 18, 18, 0.9);
    border-radius: 5px;
    padding: 10px;
}

#workspaces,
#tray {
    background: #282828;
    margin: 5px;
    padding: 0 5px;
    border-radius: 16px;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 16px;
    color: #928374;
}

#workspaces button.active {
    color: #f4d9e1;
    background-color: transparent;
}

#workspaces button:hover {
    background-color: #E6B9C6;
    color: black;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
    background: transparent;
    padding: 5px;
    margin: 1px;
    border-radius: 8px;
}

#custom-date {
    color: #D3869B;
}

#custom-power {
    color: #24283b;
    background-color: #db4b4b;
    border-radius: 5px;
    margin: 0 0 0 5px;
    padding: 5px 10px;
}

#clock {
    color: #E6B9C6;
    background-color: #282828;
    border-radius: 16px;
    padding: 0 15px;
    margin: 0 5px 0 5px;
    font-weight: bold;
    border-left: solid 1px #282738;
}

#network, #pulseaudio {
    color: #f4d9e1;
    border-radius: 8px;
}

#pulseaudio.muted {
    background: #282828;
    color: #928374;
}

#window {
    background: #282828;
    padding: 0 15px;
    border-radius: 16px;
    margin: 5px;
}

#cpu, #temperature, #memory, #disk {
    background-color: #282828;
    border-radius: 16px;
    margin: 1px;
    padding: 0 10px;
    font-weight: bold;
}
