* {
    border: none;
    border-radius: 0;
    font-family: DepartureMono Nerd Font, FontAwesome;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(18, 18, 18, 0.3);
    border-radius: 0;
    padding: 5px;
    border-bottom: 1px solid #282828;
    color: #fcfcfc;
}

window#waybar,
tooltip {
    background: rgba(18, 18, 18, 0.5);
    color: #fcfcfc;
    border-radius: 0;
    padding: 10px;
}

#workspaces,
#tray {
    background: #d4d4d4;
    color: #282828;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 0;
    color: #928374;
}

#workspaces button.active {
    color: #282828;
    background-color: #e6b9c6;
}

#workspaces button:hover {
    background-color: #d3869b;
    color: #fcfcfc;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
    background: #d4d4d4;
    color: #282828;
    border-radius: 0;
}

#custom-date {
    color: #D3869B;
}

#clock {
    color: #282828;
    background-color: #d4d4d4;
    border-radius: 0;
    font-weight: bold;
}

#network, #pulseaudio {
    color: #282828;
    background: #d4d4d4;
    border-radius: 0;
}

#pulseaudio.muted {
    background: #7a7a7a;
    color: #ffffff;
}

#window {
    background: #d4d4d4;
    color: #282828;
    border-radius: 0;
}

#cpu, #temperature, #memory, #disk {
    background-color: #d4d4d4;
    color: #282828;
    border-radius: 0;
    font-weight: bold;
}


#workspaces, #tray, #clock, #window, #cpu, #temperature, #memory, #disk, #custom-power, #custom-date, #battery, #pulseaudio, #network {
	padding: 5px 10px;
	margin: 5px;
}
